SERVER_PORT=8080

DB_HOST=mysql
DB_PORT=3306
DB_NAME=campus_market
DB_USERNAME=campus
DB_PASSWORD=123456
MYSQL_ROOT_PASSWORD=root123456

REDIS_HOST=redis
REDIS_PORT=6379

MAIL_HOST=smtp.qq.com
MAIL_USERNAME=
MAIL_PASSWORD=

FILE_BASE_PATH=/opt/campus-market/images/
JPA_DDL_AUTO=update
JPA_SHOW_SQL=false
THYMELEAF_CACHE=true
